 
.videoTitle {
    display: block;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 16em;
    text-overflow: ellipsis;
    font-size: 13px !important;
    font-weight: 600;
    margin: 5px 0 20px;
}

a{
  text-decoration: none;
}

.li_videos {
    vertical-align: top;
    width: 196px;
    word-wrap: break-word;
    margin-bottom: 12px;
    display: inline-block;
    margin-right: 70px;
    text-align: left;
}

#iframe_video {
    border: none;
}

#div_videos{
    padding: 15px;
    text-align: center;
}

#h2_videos{
    padding: 0 20px;
	color: #F44336;
}

.channelTitle{
    font-size: 10px !important;
    color:gray;
    font-weight: 600;
}

#div_channelTitle{
        margin: -15px 0;
}

.videoDate{
    font-size: 10px;
    color: grey;
}

#div_footer{
	    text-align: center;
}

.link{
	color: white;
	font-weight: 600;
}
 
#main {
    background-color: white;
    position: relative;
    min-height: 15%;
    margin-top: 100px; 
	border-radius: 2px;	
}

body{
    margin: 0px;
    border-top: 5px solid #ffff;
    background-image: url('../images/background2.jpg'); 
    background-repeat:no-repeat;
    background-size:cover;
    color: #ffff;
} 

#ol_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    padding: 0 60px;
}

.imgTitle {
    transition: height 0.1s; 
}

#div-menu {
    padding-top: 7rem;
}

#div_default {
    min-height: 650px;
}

/*.drag { 
    color: #9E9E9E;
    cursor: move;
    position: absolute; 
    font-size:30px!important; 
}*/

.pr-2 {
    padding-right: 8px !important;
}

svg:not(:root) {
    overflow: hidden;
}

.octicon {
    vertical-align: text-bottom;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

#ol_menu li > div {
    padding: 15px !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.imgTitle img {
    height: 50px;
    cursor: pointer;
} 

#ol_menu li { 
        width: 190px;
    margin: 5px 10px 10px 10px;
    background-color: rgba(244, 67, 54, 0.42);
    border-radius: 2px;
    text-align: center;
    height: 120px;
}

.over {
    border: 2px dashed #000;
}


.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}

body {
    margin: 0px;
    background-color: #dfdfdf;
    color: #025C89;
    background-repeat: repeat-x;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 9pt;
    line-height: 1.5;
}

ul li {
    list-style-type: none;
}

.title {
    color: white;
    font-weight: 900;
    text-align: center;
        font-size: 1.1em;
}


.monospace {
  font-family: monospace; }

.footer-font {
  font-size: 0.9rem;  }

.love {
  color: #ffff; }

.linkDa{
     color: #ffff;
}

.github-corner {
  display: none; }
  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out; }
  @media screen and (min-width: 768px) {
    .github-corner {
      display: block; } }

@keyframes octocat-wave {
  0%,100% {
    transform: rotate(0); }
  20%,60% {
    transform: rotate(-25deg); }
  40%,80% {
    transform: rotate(10deg); } }
.highlight {
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  .highlight, .highlight .hll, .highlight pre, .highlight code {
    background-color: #272822 !important;
    border-radius: 6px;
    border: none; }
  .highlight pre {
    margin: 0;
    padding: 0.75em 1.5em;
    white-space: pre;
    line-height: 23px;
    overflow-x: auto;
    margin-bottom: 0;
    word-break: inherit;
    word-wrap: inherit; }
    .highlight pre, .highlight pre code {
      color: #eeffdd; }
    .highlight pre code {
      white-space: pre;
      padding: 0 !important; }
      .highlight pre code * {
        white-space: nowrap; }
  .highlight .c {
    color: #75715e; }
  .highlight .err {
    color: #f2f1f2; }
  .highlight .k {
    color: #66d9ef; }
  .highlight .l {
    color: #ae81ff; }
  .highlight .n {
    color: #f8f8f2; }
  .highlight .o {
    color: #f92672; }
  .highlight .p {
    color: #f8f8f2; }
  .highlight .cm {
    color: #75715e; }
  .highlight .cp {
    color: #75715e; }
  .highlight .c1 {
    color: #75715e; }
  .highlight .cs {
    color: #75715e; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .kc {
    color: #66d9ef; }
  .highlight .kd {
    color: #66d9ef; }
  .highlight .kn {
    color: #f92672; }
  .highlight .kp {
    color: #66d9ef; }
  .highlight .kr {
    color: #66d9ef; }
  .highlight .kt {
    color: #66d9ef; }
  .highlight .ld {
    color: #e6db74; }
  .highlight .m {
    color: #ae81ff; }
  .highlight .s {
    color: #e6db74; }
  .highlight .na {
    color: #a6e22e; }
  .highlight .nb {
    color: #f8f8f2; }
  .highlight .nc {
    color: #a6e22e; }
  .highlight .no {
    color: #66d9ef; }
  .highlight .nd {
    color: #a6e22e; }
  .highlight .ni {
    color: #f8f8f2; }
  .highlight .ne {
    color: #a6e22e; }
  .highlight .nf {
    color: #a6e22e; }
  .highlight .nl {
    color: #f8f8f2; }
  .highlight .nn {
    color: #f8f8f2; }
  .highlight .nx {
    color: #a6e22e; }
  .highlight .py {
    color: #f8f8f2; }
  .highlight .nt {
    color: #f92672; }
  .highlight .nv {
    color: #f8f8f2; }
  .highlight .ow {
    color: #f92672; }
  .highlight .w {
    color: #f8f8f2; }
  .highlight .mf {
    color: #ae81ff; }
  .highlight .mh {
    color: #ae81ff; }
  .highlight .mi {
    color: #ae81ff; }
  .highlight .mo {
    color: #ae81ff; }
  .highlight .sb {
    color: #e6db74; }
  .highlight .sc {
    color: #e6db74; }
  .highlight .sd {
    color: #e6db74; }
  .highlight .s2 {
    color: #e6db74; }
  .highlight .se {
    color: #ae81ff; }
  .highlight .sh {
    color: #e6db74; }
  .highlight .si {
    color: #e6db74; }
  .highlight .sx {
    color: #e6db74; }
  .highlight .sr {
    color: #e6db74; }
  .highlight .s1 {
    color: #e6db74; }
  .highlight .ss {
    color: #e6db74; }
  .highlight .bp {
    color: #f8f8f2; }
  .highlight .vc {
    color: #f8f8f2; }
  .highlight .vg {
    color: #f8f8f2; }
  .highlight .vi {
    color: #f8f8f2; }
  .highlight .il {
    color: #ae81ff; }
  .highlight .gu {
    color: #75715e; }
  .highlight .gd {
    color: #f92672; }
  .highlight .gi {
    color: #a6e22e; }
